<?xml version="1.0"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
    <properties>
        <title>Custom Mashup UI components</title>
        <author email="author@3ds.com">author</author>
    </properties>

    <body>
        <section name="Project version">
            <p><b>$context.get("cv.documentation.version")</b></p>
        </section>
        <section name="Overview">
            <p>This project contains PLM Analytics Mashup UI components :
                <ul>
                    <li>Mashup UI triggers</li>
                    <li>MEL functions</li>
                    <li>Spring controllers</li>
                    <li>JSP taglibs</li>
                    <li>Widgets</li>
                </ul>
            </p>
        </section>
    </body>
</document>

